@import '../../global/scss/global.module.scss';

.Wrapper {
    height: 100%;
    background-color: $second-color;
    display: flex;

    .GroupsContainer {
        padding: 0.33rem;
        width: 20%;
    }

    .ChatContainer {
        width: 80%;
    }
}
