@import '../../global/scss/global.module.scss';

.Wrapper {
    height: 100%;
    background-color: $third-color;
    display: flex;

    .GroupsContainer {
        width: 20%;
    }

    .ChatContainer {
        width: 80%;
    }
}
