@import '../../global/scss/global.module.scss';

.Wrapper {
    height: 100%;
    background-color: $second-color;
    box-shadow: 2px 0 5px darken($second-color, 10%);
    display: flex;

    .GroupsContainer {
        padding: 0.33rem;
        width: 20%;
    }

    .NoGroupsContainer {
        position: fixed;
        justify-content: center;
        background-color: darken($another-user-color, 50%);
    }

    .ChatContainer {
        width: 80%;
    }
}
