.Wrapper {
    display: flex;
    flex-direction: row;

    .MenuContainer {
        width: 5%;
        min-height: 100%;
        display: flex;
    }

    &[isauthenticated='true'] {
        main {
            width: 95%;
            margin-left: 5%;
        }
    }

    &[isauthenticated='false'] {
        main {
            width: 100%;
        }
    }
}
