.Wrapper {
    display: flex;
    flex-direction: row;

    @if isauthenticated= 'true' {
        main {
            width: 93%;
            margin-left: 7%;
        }
    } @else {
        main {
            width: 100%;
        }
    }
}
