@import '../../global/scss/global.module.scss';

.InputWrapper {
    position: fixed;
    border-top: 1px solid rgba($font-color, 0.2);
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    min-height: 4rem;

    input {
        font-size: inherit;
        width: 100%;
        min-height: 4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        outline: none;
    }

    button {
        position: absolute;
        cursor: pointer;
        font-size: 2rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        top: 1rem;
        min-width: 4rem;
        min-height: 4rem;
    }
}
