@import '../../global/scss/global.module.scss';

.Wrapper {
    width: 100%;
    height: 10%;
    padding: 1rem;
    background-color: transparent;

    .GroupNameContainer {
        color: $another-user-color;
        font-size: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    &:hover {
        background-color: darken($third-color, 10%);
    }
}
