@import '../../global/scss/global.module.scss';

.Wrapper {
    width: 100%;
    height: 10%;
    background-color: transparent;

    .GroupNameContainer {
        color: $another-user-color;
        padding: 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
    }

    &:hover {
        background-color: darken($third-color, 10%);
    }
}
