$chat-background: linear-gradient(#e66465, #9198e5);
$main-color: #6998ab;
$second-color: #ffffff;

$user-color: #ceffa3;
$another-user-color: #fff;
$active-cgroup-color: #2c8dee;

$font-color: #000;
$active-font-color: #fff;
$input-background: #e8f0fe;
$delete-font-color: #ff0000;
$date-font-color: #505050;
