@import '../../global/scss/global.module.scss';

nav {
    width: 5%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $second-color;
        position: relative;
        height: 100%;
        overflow: auto;
        z-index: 2;

        li a {
            display: block;
            color: $another-user-color;
            padding: 0.3rem 0.6rem;
            text-decoration: none;
        }

        li a.active {
            background-color: #04aa6d;
            color: $another-user-color;
        }

        li a:hover:not(.active) {
            background-color: #555;
            color: $another-user-color;
        }
    }
}
