@import '../../global/scss/global.module.scss';

.Wrapper {
    border-radius: 10px;
    position: relative;
    overflow-wrap: break-word;
    padding: 1rem;
    margin: 1rem;
    max-width: 50%;
    min-width: 10rem;

    .DateContainer {
        font-size: 0.8em;
        color: $date-font-color;
        text-align: right;
    }

    &[user='user'] {
        background-color: $user-color;
        margin-right: 10%;
        align-self: flex-end;

        .UserNameContainer {
            display: none;
        }

        .MessageContainer {
            text-align: right;
            padding-bottom: 0.5rem;
        }

        &:after {
            content: '';
            position: absolute;
            visibility: visible;
            top: 0;
            right: -10px;
            border: 10px solid transparent;
            border-top: 10px solid $user-color;
        }
    }

    &[user='another-user'] {
        background-color: $another-user-color;
        margin-left: 10%;
        align-self: flex-start;

        .MessageContainer {
            text-align: left;
            padding-bottom: 0.5rem;
        }

        .UserNameContainer {
            text-align: left;
            padding-bottom: 0.5rem;
            position: relative;
        }

        &:after {
            content: '';
            position: absolute;
            visibility: visible;
            top: 0;
            left: -10px;
            border: 10px solid transparent;
            border-top: 10px solid $another-user-color;
        }
    }
}

.PopupMenu {
    display: flex;
    flex-direction: column;

    .PopupMenuElement {
        width: 100%;
        cursor: pointer;
        padding: 0.75rem 1rem;
        position: relative;
        display: flex;
        white-space: nowrap;
    }

    .IconWrapper {
        margin-right: 1.25rem;
    }
}
