@import '../../global/scss/global.module.scss';

.Wrapper {
    display: flex;
    flex-direction: column;
    background: $chat-background;
    height: 100vh;

    .MessagesContainer {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4rem);
        overflow-x: hidden;
        padding: 0.5rem;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0.25rem;
        background-color: darken($color: $another-user-color, $amount: 60);
    }
}
