@import '../../global/scss/global.module.scss';

.ContextMenu {
    position: fixed;
    width: 120px;
    background-color: $another-user-color;
    border: 1px solid $font-color;
    font-size: 1rem;
    border-radius: 5px;
    transform-origin: right bottom;
    transition: opacity 0.3s cubic-bezier(0.2, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
    z-index: 4;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    ul li {
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    ul li a {
        padding: 0;
        text-decoration: none;
        color: $font-color;
    }

    ul li:hover {
        background-color: darken($another-user-color, 10%);
    }

    [delete] {
        color: $delete-font-color;
    }
}
